@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap');

body {
    min-height: 100vh;
    font-family: Mulish, "Arial", sans-serif;
    display: flex;
    flex-direction: column;
}